// Color
$c0-text: #333;
$c0-white: #fff;
$c0-black: #000;
$c0-des: #fbb27d;
$c0-border: #dbdbdb;
$c0-blue: #7e72c8;

// Height
$header-height: 12rem;

// Font size
$fs-sm: 1.4rem;
$fs-base: 1.6rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;
$fs-5xl: 5rem;

// Font weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
